.WeatherDetails>.LocationDataContainer {
    margin: 20px 0 100px;
}

.WeatherDetails>.navbar {
    background-image: linear-gradient(180deg, #ADD8E6, #FAFAD2);
}

.WeatherDetails>.ForecastDataContainer {
    margin-top: 250px;
}

.WeatherDetails>.ForecastDataContainer>div {
    border: 1px solid;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    height: 200px;
}

.WeatherDetails>.AddToFavoritesButton {
    position: absolute;
    right: 3%;
    top: 20%;
}