.WeatherDetails>.LocationDataContainer {
    margin: 20px 0 100px;
}

.WeatherDetails>.navbar {
    background-image: linear-gradient(180deg, #ADD8E6, #FAFAD2);
}

.WeatherDetails>.ForecastDataContainer {
    margin-top: 250px;
}

.WeatherDetails>.ForecastDataContainer>div {
    background-color: rgba(50, 100, 200, 0.45);
    border-radius: 10px;
    box-shadow: 3px 2px 3px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    height: 200px;
    width: 150px;
    transition: 0.5s ease;
}

.WeatherDetails>.ForecastDataContainer>div:hover {
    transform: scale(1.1);
}

.WeatherDetails>.AddToFavoritesButton {
    position: absolute;
    right: 3%;
    top: 20%;
}