.Layout {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 92%;
    grid-template-columns: repeat(10, 1fr);
    background-image: url(../../../Assets/Images/default-background-image.jpg);
}

.Layout>header {
    grid-column: span 10;
}

.Layout>main {
    grid-column: span 10;
}